@import url(css/first-grid.css);
@import url(css/second-grid.css);
@import url(css/third-grid.css);
@import url(css/fourth-grid.css);
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: 100px 280px 190px 210px;
  font-family: "PyeongChangPeace-Bold";
  background-color: #fff4ff;
}
